{% load static %}
<head>
	<link href="{% static 'css/home.css'%}" rel="stylesheet"/>
</head>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Zaloguj się </h2>
    <h2 class="inactive underlineHover"> Zarejestruj się </h2>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="hasło">
      <input type="submit" class="fadeIn fourth" value="Zaloguj się">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Zapomniałeś hasła?</a>
    </div>

  </div>
</div>
